In [13]:
import pandas as pd
import numpy as np

pd.set_option('display.max_rows', None)

In [5]:
basics_df = pd.read_csv('./data/imdb.name.basics.csv.gz')
gross_df = pd.read_csv('./data/bom.movie_gross.csv.gz')
akas_df = pd.read_csv('./data/imdb.title.akas.csv.gz')

In [20]:
akas_df.head()

,title_id,ordering,title,region,language,types,attributes,is_original_title
0,tt0369610,10,Джурасик свят,BG,bg,NaN,NaN,0.0
1,tt0369610,11,Jurashikku warudo,JP,NaN,imdbDisplay,NaN,0.0
2,tt0369610,12,Jurassic World: O Mundo dos Dinossauros,BR,NaN,imdbDisplay,NaN,0.0
3,tt0369610,13,O Mundo dos Dinossauros,BR,NaN,NaN,short title,0.0
4,tt0369610,14,Jurassic World,FR,NaN,imdbDisplay,NaN,0.0

In [23]:
gross_df.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [22]:
basics_df.head()

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553"
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940"
2,nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer","tt1470654,tt0363631,tt0104030,tt0102898"
3,nm0062195,Axel Baumann,NaN,NaN,"camera_department,cinematographer,art_department","tt0114371,tt2004304,tt1618448,tt1224387"
4,nm0062798,Pete Baxter,NaN,NaN,"production_designer,art_department,set_decorator","tt0452644,tt0452692,tt3458030,tt2178256"

In [14]:
akas_df.attributes.value_counts()
# ['3-D version', 'IMAX version']

new title                               1700
alternative spelling                    1394
literal English title                   1054
complete title                          1034
original subtitled version               879
informal English title                   816
transliterated ISO-LATIN-1 title         695
dubbed version                           645
short title                              640
alternative transliteration              611
DVD box title                            601
literal title                            490
original script title                    300
3-D version                              292
promotional title                        285
informal title                           274
Berlin film festival title               244
long title                               232
poster title                             225
cable TV title                           204
informal literal English title           202
subtitle                                 154
pre-release title                        145
reissue title                            138
informal short title                     134
informal alternative title               127
theatrical title                         126
segment title                            113
informal literal title                   110
literal translation of working title     104
fake working title                        91
series title                              87
rerun title                               67
premiere title                            59
review title                              49
copyright title                           47
promotional abbreviation                  46
closing credits title                     41
Cannes festival title                     38
trailer title                             36
IMAX version                              35
recut version                             30
short version                             23
longer version                            23
bootleg title                             22
YIVO translation                          21
director's cut                            20
Venice film festival title                16
first part title                          15
teaser title                              15
orthographically correct title            15
DVD menu title                            14
long new title                            13
cut version                               12
première title                            12
censored version                          12
second part title                         12
second copyright title                    11
video box title                           11
third part title                           9
anthology series                           8
bowdlerized title                          7
uncensored intended title                  7
video catalogue title                      6
correct transliteration                    5
Los Angeles premiere title                 4
english transliteration                    3
soft porn version                          2
unauthorized video title                   2
second season title                        2
expansion title                            2
first episode title                        2
TV listings title                          1
X-rated version                            1
reissue titleshort version                1
first season title                         1
8mm release title                          1
Name: attributes, dtype: int64

In [19]:
akas_df.types.value_counts()

imdbDisplay         100461
original             44700
working               8680
alternative           6564
festival              3307
dvd                   2995
tv                    1617
video                  121
festivalworking         1
dvdimdbDisplay          1
Name: types, dtype: int64

In [34]:
tech_movies_df = akas_df[akas_df.attributes.isin(['3-D version', 'IMAX version'])]
domestic_tech_movies = tech_movies_df[tech_movies_df.region == 'US']
domestic_tech_movies.shape

(50, 8)

In [37]:
domestic_tech_movies.head()

,title_id,ordering,title,region,language,types,attributes,is_original_title
12,tt0369610,21,Jurassic World 3D,US,NaN,NaN,3-D version,0.0
109,tt1014759,23,Alice in Wonderland: An IMAX 3D Experience,US,NaN,NaN,IMAX version,0.0
1494,tt1869504,3,Jillian's Travels: Africa in 3D,US,NaN,NaN,3-D version,0.0
2586,tt2215719,10,Katy Perry: Part of Me 3D,US,NaN,NaN,3-D version,0.0
2907,tt1104001,12,Tron Legacy: An IMAX 3D Experience,US,NaN,NaN,IMAX version,0.0

In [42]:
domestic_tech_movies.loc[:, ['title', 'title_id', 'region', 'attributes']]

,title,title_id,region,attributes
12,Jurassic World 3D,tt0369610,US,3-D version
109,Alice in Wonderland: An IMAX 3D Experience,tt1014759,US,IMAX version
1494,Jillian's Travels: Africa in 3D,tt1869504,US,3-D version
2586,Katy Perry: Part of Me 3D,tt2215719,US,3-D version
2907,Tron Legacy: An IMAX 3D Experience,tt1104001,US,IMAX version
8290,Inception: The IMAX Experience,tt1375666,US,IMAX version
10828,Real Steel: The IMAX Experience,tt0433035,US,IMAX version
29965,How to Train Your Dragon: An IMAX 3D Experience,tt0892769,US,IMAX version
30356,Immortals 3D,tt1253864,US,3-D version
31895,Get Squirrely 3D,tt2097333,US,3-D version
40625,Toy Story 3: An IMAX 3D Experience,tt0435761,US,IMAX version
46742,Fast Five: The IMAX Experience,tt1596343,US,IMAX version
59631,The Dark Knight Rises: The IMAX Experience,tt1345836,US,IMAX version
68008,Transformers: Dark of the Moon 3D,tt1399103,US,3-D version
68011,Transformers: Dark of the Moon - An IMAX 3D Ex...,tt1399103,US,IMAX version
70689,Super 8: The IMAX Experience,tt1650062,US,IMAX version
77934,Ice Bear 3D,tt2403931,US,3-D version
86572,The Darkest Hour 3D,tt1093357,US,3-D version
92224,Mission: Impossible - Ghost Protocol: The IMAX...,tt1229238,US,IMAX version
99264,Karnoctus,tt2357423,US,IMAX version
106910,Anomalisa,tt2401878,US,3-D version
109506,Assassin's Creed: The IMAX Experience,tt2094766,US,IMAX version
113911,Contagion: The IMAX Experience,tt1598778,US,IMAX version
124574,Resident Evil: Afterlife: An IMAX 3D Experience,tt1220634,US,IMAX version
125546,The Great Wall,tt2034800,US,IMAX version
129886,The Martian 3D,tt3659388,US,3-D version
130201,The Twilight Saga: Eclipse - The IMAX Experience,tt1325004,US,IMAX version
135640,Harry Potter and the Deathly Hallows: Part 2 3D,tt1201607,US,3-D version
135659,Iron Man 2: The IMAX Experience,tt1228705,US,IMAX version
135914,Iron Doors 3D,tt1520956,US,3-D version
141964,Sausage Party 3D,tt1700841,US,3-D version
142444,Hotel Transylvania 2 3D,tt2510894,US,3-D version
143593,Shrek Forever After: An IMAX 3D Experience,tt0892791,US,IMAX version
143607,Shrek 3D: The Final Chapter,tt0892791,US,3-D version
146308,My Soul to Take 3D,tt0872230,US,3-D version
149072,Jigsaw Puzzle 3D,tt1477076,US,3-D version
152054,I Am Number Four: The IMAX Experience,tt1464540,US,IMAX version
152146,Dr. Seuss' The Lorax: An IMAX 3D Experience,tt1482459,US,IMAX version
154275,The House of Magic 3D,tt3148834,US,3-D version
154345,Sucker Punch: The IMAX Experience,tt0978764,US,IMAX version
161483,Captain America: Civil War 3D,tt3498820,US,3-D version
168042,Beyond the Edge 3D,tt2468638,US,3-D version
170714,Meerkats 3D,tt2713406,US,3-D version
200647,Camp Blood III 3D,tt3096810,US,3-D version
260713,Dunkirk: The IMAX Experience,tt5013056,US,IMAX version
283284,Slash 3D,tt4027402,US,3-D version
291453,The Lego Batman Movie,tt4116284,US,IMAX version
313477,Kong: Skull Island,tt3731562,US,IMAX version
315449,Apollo 11: First Steps,tt8760684,US,IMAX version
329408,The Predator: The IMAX Experience,tt3829266,US,IMAX version